
/* Body Styling */

body {
    background-color: #F6EEE5;
}

/* Navbar Styling */

.container-fluid {
    display: flex;
    justify-content: flex-end;
}

.navbar {
    opacity: 1;
    background-color: #85bbbd;
}

/* Card/ Card Container Styling */

.card {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 300px;
    align-content: center;
    width: 40%;
}

.card-img-top {
    padding: 20px;
}

.header-text {
    padding: 20px;
}

/* Table Styling */

.row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
.column {
    float: left;
    width: 50%;
    padding: 5px;
    padding-bottom: 10px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
th, td {
    text-align: left;
    padding: 10px;
  }
  
tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.instructions {
      padding: 5
  }

/* Responsiveness 

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

/* Footer Styling */

.footer-container {
    background-color: #F4D9BC;
}

.footer-box {
    box-sizing: border-box;
    padding: 102px;
    margin-top: 300px;
    border-top: 2px solid grey;
}

